.MuiBox-root {
  background-color: #fff !important;
}
.MuiDataGrid-root {
  /* border: none !important; */
  border-style: unset !important;
  box-shadow: inset;
  /* box-shadow: "0px 2px 5px 0px rgba(89, 96, 120, 0.10), 0px 0px 0px 1px rgba(70, 79, 96, 0.16), 0px 1px 1px 0px rgba(0, 0, 0, 0.10)" !important; */
}

::-webkit-scrollbar-track {
  -webkit-box-shadow:0
}

::-webkit-scrollbar {
width: 6px;
/* background-color: #f00000; */
}
::-webkit-scrollbar-thumb {
border-radius: 10px;
height:35px;
/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
background-color: #D9D9D9;
}
